# Configuracao local (contem o nome da planilha do governo)
.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/

#dados
2026_03_mcmv_ogu_dados_v3.csv
202507_mcmv_ogu_contratacao_metadados 2.xlsx
1_Tabela_das_RTQD.xlsx

.claude